.cantidad {
  background-color: red;
  border-radius: 24rem;
  padding: 0%;
}
.nav-item {
  display: flex;
  position: relative;
}
.cantidad {
  background-color: red;
  border-radius: 2rem;
  padding: 0%;
  display: inline;
  position: absolute;
}
